{{ partial "single/footer.html" . }}

<div>
<script src="https://giscus.app/client.js"
        data-repo="ranhya/ranhya.github.io"
        data-repo-id="R_kgDOPM7Feg"
        data-category="General"
        data-category-id="DIC_kwDOPM7Fes4Cu7El"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
