/* 
Hide Properties in reading mode by default.
Add "show_properties" to `css_classes` property to show them.

https://forum.obsidian.md/t/hide-show-properties-and-add-property-button-in-reading-mode/66209

============================================================= */
.workspace-leaf-content[data-mode="preview"]
.markdown-preview-view
.metadata-container{
    display: none;
}

.workspace-leaf-content[data-mode="preview"]
.markdown-preview-view.show_properties
.metadata-container{
    display: none;
}
