/*Tab Title Header on Bottom*/
.view-header {
position: sticky;
margin: -31px;
overflow: auto;
width: 500px;
top: 720px;
margin-left: -60px;
border-top: 1px solid var(--divider-color) !important;
}